CONFIG_ARM64=y
CONFIG_ARCH_ROCKCHIP=y
CONFIG_ROCKCHIP_RK3568=y
CONFIG_SYS_SOC="rk3568"

CONFIG_DEFAULT_DEVICE_TREE="rk3568-hinlink-h68ktv"
CONFIG_TARGET_EVB_RK3568=y
CONFIG_SYS_TEXT_BASE=0x00200000
CONFIG_NR_DRAM_BANKS=2

CONFIG_ENV_SIZE=0x8000
CONFIG_ENV_OFFSET=0x3F8000
CONFIG_ENV_SECT_SIZE=0x10000

# 串口 uart2
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0xFEF50000
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYSRESET=y

# MMC/SD/eMMC
CONFIG_CMD_MMC=y
CONFIG_MMC=y
CONFIG_ROCKCHIP_DWMMC=y
CONFIG_ROCKCHIP_SDHCI=y

# USB
CONFIG_CMD_USB=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_DWC2=y
CONFIG_USB_STORAGE=y

# 网络
CONFIG_CMD_NET=y
CONFIG_NET=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_ROCKCHIP_GMAC=y
CONFIG_PHY_GIGE=y

# 启动顺序：USB → SD → eMMC
CONFIG_BOOTDELAY=3
CONFIG_BOOTCOMMAND="run boot_usb; run boot_mmc1; run boot_mmc0"
